<h1>Current Notifications:</h1>

<font color="orange">
{% if notification_count == 0 %}
	You currently have no notifications.
{% else %}
	You currently have {{notification_count}} notification{{notification_count|pluralize}}.
{% endif %}
</font>

{% if notifications %}
	<ul>
	{% for notification in notifications %}
		<li>
			{% autoescape off %}{{notification}}{% endautoescape %}
			<form method="post" action="{% url 'notifications:delete' notification.id %}">
				{% csrf_token %}
				<input type="hidden" name="redirect_url" value="{{ redirect_url }}" />
				<input type="submit" value="Delete Notification" />
			</form>
		</li>
	{% endfor %}
	</ul>
{% endif %}
