<div class="basic">
	{% include "inventory/set_style.html" %}
</div>

{% include "inventory/jquery_include.html" %}

<div class="basic">
	{% include "inventory/inventory_header.html" %}
</div>


<h1>
	{% if type.is_custom %}
		Custom Generic
	{% elif type.is_generic %}
		Default Generic
	{% else %}
		Branded
	{% endif %} Item Type: {{ type.name }}
	{% if not read_only %}
		<input type="button" id="rename_button" value="Rename"
		       onclick="showRename('{{ type.name }}');">
	{% endif %}
</h1>

{% if error_messages %}<font color="red"><ul>{% for message in error_messages %}
	<li>{{ message }}</li>
{% endfor %}</ul></font>{% endif %}


{% if not read_only %}
<form method="post" id="rename_form"
      action="{% url 'inventory:type:rename' type.id %}">
	{% csrf_token %}
	
	<input type="text" name="rename" value="{{ type.name }}" />
	<input type="submit" />
	<input type="button" value="Cancel" onclick="hideRename();"/>
</form>

<script type="text/javascript">
	function showRename(default_name){
		var form = document.getElementById("rename_form");
		var textfield = document.getElementsByName("rename")[0];
		var button = document.getElementById("rename_button");
		textfield.value = default_name;
		form.style.display = "";
		button.style.display = "none";
	}
	
	function hideRename(){
		var form = document.getElementById("rename_form");
		var button = document.getElementById("rename_button");
		form.style.display = "none";
		button.style.display = "";
	}
	
	$( document ).ready(function(){
		hideRename();
	});
</script>
{% endif %}

<h3>Information:</h3>

<ul>
	{% if type.needed_temperature == 1 %}
	<li><font color="orange">
		Must be kept refrigerated once opened
	</font></li>
	{% elif type.needed_temperature == 2 %}
	<li><font color="orange">
		Must be kept refrigerated at all times
	</font></li>
	{% elif type.needed_temperature == 3 %}
	<li><font color="blue">
		Must be kept frozen at all times
	</font></li>
	{% endif %}
	{% if type.open_expiration_term %}
	<li><font color="orange">
		Must be used within {{type.open_expiration_term.days}}
		day{{ type.open_expiration_term.days|pluralize }} of opening
	</font></li>
	{% endif %}
	{% if type.freezer_expiration_term %}
	<li><font color="blue">
		Lasts
		{% if type.freezer_expiration_term.months %}
			{{type.freezer_expiration_term.months}}
			month{{type.freezer_expiration_term.months|pluralize}}
		{% endif %}
		{% if type.freezer_expiration_term.weeks %}
			{{type.freezer_expiration_term.weeks}}
			week{{type.freezer_expiration_term.weeks|pluralize}}
		{% endif %}
		{% if type.freezer_expiration_term.days %}
			{{type.freezer_expiration_term.days}}
			day{{type.freezer_expiration_term.days|pluralize}}
		{% endif %}
		if stored in a freezer.
	</font></li>
	{% endif %}
</ul>


<h3>You currently have the following items of this type:</h3>

<div class="basic">
	{% include "inventory/item_list.html" %}
</div>

<div class="basic">
	<h3>Actions:</h3>

	<ul>
		<li>
			<a href="{% url 'inventory:type:item_create_page' type.id %}">
				Add a new Item of this Type
			</a>
		</li>
		
		{% if user == type.user %}
		<li>
			<a href="{% url 'inventory:type:modify_page' type.id %}">
				Modify Expiration/Storage Properties
			</a>
		</li>
		{% endif %}
		{% if not read_only %}
		<li>
			<form action="{% url 'inventory:type:delete' type.id %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Delete" onclick="return confirmWindow('Are you sure you wish to delete this custom type?  All items of this type will also be deleted.  This action cannot be undone.')" />
			</form>
		</li>
		{% endif %}
		<li><a href="{% url 'inventory:inventory_index' %}">View all Items</a></li>
		<li><a href="{% url 'inventory:type:index' %}">View all Item Types</a></li>
	</ul>
</div>



<script type="text/javascript">
	function confirmWindow(string){
		return confirm(string)
	}
</script>
