<div class="basic">
	{% include "inventory/set_style.html" %}
</div>

<div class="basic">
	{% include "inventory/inventory_header.html" %}
</div>

<h1>Item Type Categories:</h1>


<h2>Custom Item Types:</h2>

{% if custom_type_list %}
	<ul>
	{% for type in custom_type_list %}
		<li>
			<a href="{% url 'inventory:type:detail' type.id %}">{{type.name}}</a>
			({{type.item_count}} item{{ type.item_count|pluralize }})
		</li>
	{% endfor %}
		<li>
			<a href="{% url 'inventory:type:create_page' %}">
				Add another custom type
			</a>
		</li>
	</ul>
{% else %}
	<p>You have not added any custom item types.
		<a href="{% url 'inventory:type:create_page' %}">
			Click here to add one.
		</a>
	</p>
{% endif %}


<h2>Branded Item Types:</h2>

(Note: Only Branded Items that you currently own are shown here.)

{% if branded_type_list %}
	<ul>
	{% for type in branded_type_list %}
		{% if type.item_count > 0 %}<li>
			<a href="{% url 'inventory:type:detail' type.id %}">{{type.name}}</a>
			({{type.item_count}} item{{ type.item_count|pluralize }})
		</li>{% endif %}
	{% endfor %}
	</ul>
{% endif %}


<h2>Default Item Types:</h2>

(Note: Only Default Items that you currently own are shown here.)

{% if default_type_dict_list %}
	<ul>
	{% for dict in default_type_dict_list %}
		{% if dict.count > 0 %}<li>
			<a href="{% url 'inventory:type:detail' dict.type.id %}">{{dict.type.name}}</a>
			({{dict.count}} item{{ dict.count|pluralize }})
		</li>{% endif %}
	{% endfor %}
	</ul>
{% endif %}

