<div class="basic">
	{% include "inventory/set_style.html" %}
</div>

<div class="basic">
	{% include "inventory/inventory_header.html" %}
</div>

<h2>Item Type Search</h2>

Use the form below to search for all item types (branded, custom, etc.) whether
you own them or not.
<br />
<br /><br />



{% load search_form %}
{% search_form request search_fields %}




{% load search_results %}

<div class="basic">
	{% search_results request search_custom search_default %}
	{% search_results request search_branded %}
</div>
