<div class="basic">
	{% include "inventory/set_style.html" %}
</div>

<div class="basic">
	{% include "inventory/inventory_header.html" %}
</div>

<h2>Item Type Search</h2>



<div class="basic">
	
	Please fill in at least one of the search fields below.
	<form method="post" action="{{submit_url}}">
		{% csrf_token %}
	
		{% for field, name in search_fields.items %}
			{{ name }} :
			<input type="text" name="{{ field }}" />
		{% endfor %}
	
		<br />
		<input type="submit" value="Search">
	</form>
	
</div>




{% load search_box %}

<div class="basic">
	{% search_box request search_settings %}
</div>
