
<h2>~Search Box~</h2>

Please fill in at least one of the search fields below.
<form method="post" action="{{submit_url}}">
	{% csrf_token %}
	
	{% for field in search_fields %}
		{{ field }} :
		<input type="text" name="{{ field }}" />
	{% endfor %}
	
	<br />
	<input type="submit" value="Search">
</form>


{% if rendered_results_list %}
	<ul>
	{% for rendered_result in rendered_results_list %}
		{% autoescape off %}
			<li>{{ rendered_result }}</li>
		{% endautoescape %}
	{% endfor %}
	</ul>
{% endif %}

