<h1>
	Test View:
</h1>

<div class="basic">
	<h2>~Search Box~</h2>
	
	Please fill in at least one of the search fields below.
	<form method="post" action="{{submit_url}}">
		{% csrf_token %}
	
		{% for field, name in search_fields.items %}
			{{ name }} :
			<input type="text" name="{{ field }}" />
		{% endfor %}
	
		<br />
		<input type="submit" value="Search">
	</form>
	
</div>



{% load search_box %}

<div class="basic">
	{% search_box request search_settings_1 search_settings_2 %}
</div>


<font color="orange"><h1>Classic</h1></font>

<div class="basic">
	{% search_box request search_settings_2 %}
</div>



