{% load notification_bar %}

<a href="{% url 'inventory:inventory_greeter' %}">
	[TEMPORARY: TO FRONT PAGE]
</a>

{% if user.is_staff %}
&nbsp
<a href="{% url 'admin:index' %}">
	[ADMIN]
</a>
{% endif %}

{% if user.is_authenticated %}
	&nbsp&nbsp
	
	Welcome 
	<a href="{% url 'inventory:profile' %}">
		{{ user.get_username }}
	</a>
	
	&nbsp&nbsp
	<a href="{% url 'inventory:logout' %}">
		[Logout]
	</a>
	
	<br />
	{% url 'inventory:notification_page' as notification_url %}
	{% notification_bar user notification_url %}
{% endif %}
