{% load staticfiles %}

<link rel="stylesheet" type="text/css", href="{% static 'inventory/style.css' %}" />

<font size="5"  color="white">
<h1>The Following Items are in the Database:</h1>

{% if item_list %}
	<ul>
	{% for item in item_list %}
		<li>
			<a href="{% url 'inventory:item_detail' item.id %}">{{item.item_type.name}}</a>
			{% if item.expired %}
				<font color="red">
				: Expired:
			{% else %}
				: Expires: 
			{% endif %}
			{{item.expiration_date}}
			{% if item.expired %}
				</font>
			{% endif %}
			
			{% if item.opened %}
				{% if item.expired %}
					<font color="red">
				{% else %}
					<font color="green">
				{% endif %}
				(Opened on {{item.opened_date}})
				</font>
			{% else %}
				<font color="blue">(Not Opened)</font>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No items are in the inventory.</p>
{% endif %}

</font>
