<div class="basic">
	{% include "inventory/set_style.html" %}
</div>

{% include "inventory/jquery_include.html" %}

<div class="basic">
	{% include "inventory/inventory_header.html" %}
</div>


<div class="basic">
	{% include "inventory/item_details_summary.html" %}
</div>


{% if error_messages %}<font color="red"><ul>{% for message in error_messages %}
	<li>{{ message }}</li>
{% endfor %}</ul></font>{% endif %}


<form onsubmit="return checkFormOpen()" method="post" action="{% url 'inventory:item_open_submit' item.id %}">
	{% csrf_token %}

{% if item.item_type.needed_temperature == 1 and not item.location.refrigerated %}
	<font color="red"><h3>
		This item must be refrigerated once it is opened.  Please select an option
		below indicating where it will now be stored.
	</h3></font>
	<ul>
		{% if location_list %}
		<input type="radio" name="refrigerator" id="loc_sel" value="existing"
		       onclick="location_toggle();"/>
			<label for="loc_sel">Choose an existing refrigerator</label><br/>
			{% include "inventory/location/select.html" %}
		{% else %}
			<font color="orange">No existing refrigerators.</font><br/>
		{% endif %}
		<input type="radio" name="refrigerator" id="loc_new" value="new"
		       onclick="location_toggle();"/>
			<label for="loc_new">Add a new refrigerator</label><br/>
			<ul><div class="basic" id="new_ref_form">
				{% include 'inventory/location/create_form.html' %}
			</div></ul>
		
		
		
		<script type="text/javascript">
			function location_toggle(){
				var refrigerator = $('input[name="refrigerator"]:checked').val();
				
				{% if location_list %}
				var ext_form = document.getElementById("ext_ref_form");
				if(refrigerator === "existing"){
					show(ext_form);
				}else{
					hide(ext_form);
				}
				{% endif %}
				
				var new_form = document.getElementById("new_ref_form");
				if(refrigerator === "new"){
					show(new_form);
				}else{
					hide(new_form);
				}
			}
			
			$( document ).ready(function(){
				location_toggle();
			});
		</script>
		
		<script type="text/javascript">
			function hide(element){
				element.style.display = "none";
			}
			
			function show(element){
				element.style.display = "";
			}
		</script>
	</ul>
	
{% endif %}

	
	<h3>When was this item opened?</h3>
	<ul>
		<input type="radio" name="choice" id="choicetoday" value="today"/>
			<label for="choicetoday">Today</label> <br />
		<input type="radio" name="choice" id="choiceother" value="other"/>
			<input type = "date" name="open_date"/> <br />
	</ul>
	<input type="submit" />
	<input type="button" value="Cancel"
	       onclick="location.href='{% url 'inventory:item_detail' item.id %}'"/>
</form>


<script type="text/javascript">
	function checkFormOpen(){try{
		
		//Make sure there hase been at least one choice
		if(!checkChoiceSelected('choice')){
			alert('Please select the date on which this item was opened.');
			return false;
		}
		
		var choiceOther = document.getElementById('choiceother');
		if(choiceOther.checked){
			var date = document.getElementsByName('open_date')[0].value;
			if(!Date.parse(date)){
				alert('Selected date is invalid.');
				return false;
			}
		}
		
		return true;
	}catch(err){alert('something happened');return false;}}
</script>



<script type="text/javascript">
	function checkChoiceSelected(radioName){
		var element = document.getElementById(radioName);
		if($('input[name='+radioName+']:checked').length > 0){
			return true;
		}else{
			return false;
		}
	}
</script>

