<div class="basic">
	{% include "inventory/set_style.html" %}
</div>

<div class="basic">
	{% include "inventory/inventory_header.html" %}
</div>

<h2>Password Reset</h2>

{% if error_messages %}<font color="red"><ul>{% for message in error_messages %}
	<li>{{ message }}</li>
{% endfor %}</ul></font>{% endif %}

The account associated with the email address you entered has had its password reset.
{% if email %}
	<font color="yellow">
		An email containing your temporary password has been sent to {{email}}.
	</font>
{% endif %}
<br>
Please sign in below.

<div class="basic">
	{% include "inventory/login_form.html" %}
</div>
