<div class="basic">
	{% include "inventory/set_style.html" %}
</div>

<div class="basic">
	{% include "inventory/inventory_header.html" %}
</div>

<h2>Reset Password</h2>

<form action="{% url 'inventory:password_submit' %}" method="post">
	{% csrf_token %}
	Username: <font color="blue">{{ user.get_username }}</font> <br>
	New Password: <input type="password" name="password"><br>
	Confirm Password; <input type="password" name="password_repeat"><br>
	
	<br> <input type="submit" name="submit">
	<input type="button" value="Cancel"
	       onclick="location.href='{% url 'inventory:profile' %}'">
</form>
