<div class="basic">
	{% include "inventory/set_style.html" %}
</div>

<div class="basic">
	{% include "inventory/inventory_header.html" %}
</div>

{% if error_messages %}<font color="red"><ul>{% for message in error_messages %}
	<li>{{ message }}</li>
{% endfor %}</ul></font>{% endif %}

Congratulations.  You have successfully created an account with username "{{username}}".  
{% if temporary_password %}
	<font color="yellow">Your temporary password is "{{temporary_password}}".</font>
{% elif email %}
	<font color="yellow">
		An email containing your temporary password has been sent to {{email}}.
	</font>
{% endif %}
<br>
Please sign in below.

<div class="basic">
	{% include "inventory/login_form.html" %}
</div>
