<div class="basic">
	{% include "inventory/set_style.html" %}
</div>

<div class="basic">
	{% include "inventory/inventory_header.html" %}
</div>

<h2>Create New Location</h2>

{% if error_messages %}<font color="red"><ul>{% for message in error_messages %}
	<li>{{ message }}</li>
{% endfor %}</ul></font>{% endif %}


<form action="{% url 'inventory:location:create_submit' %}" method="post">
	{% csrf_token %}
	
	{% include "inventory/location/create_form.html" %}
	
	<input type="submit" name="submit"/>
	<input type="button" name="cancel" value="Cancel"
	       onclick="location.href='{% url 'inventory:location:index' %}'" />
</form>
