<div class="basic">
	{% include "inventory/set_style.html" %}
</div>

{% include "inventory/jquery_include.html" %}

<div class="basic">
	{% include "inventory/inventory_header.html" %}
</div>

<h1>
	Location: {{ location.name }}
	<input type="button" id="rename_button" value="Rename"
	       onclick="showRename('{{ location.name }}');">
</h1>

{% if error_messages %}<font color="red"><ul>{% for message in error_messages %}
	<li>{{ message }}</li>
{% endfor %}</ul></font>{% endif %}


<form method="post" id="rename_form"
      action="{% url 'inventory:location:rename' location.id %}">
	{% csrf_token %}
	
	<input type="text" name="rename" value="{{ location.name }}" />
	<input type="submit" />
	<input type="button" value="Cancel" onclick="hideRename();"/>
</form>

<script type="text/javascript">
	function showRename(default_name){
		var form = document.getElementById("rename_form");
		var textfield = document.getElementsByName("rename")[0];
		var button = document.getElementById("rename_button");
		textfield.value = default_name;
		form.style.display = "";
		button.style.display = "none";
	}
	
	function hideRename(){
		var form = document.getElementById("rename_form");
		var button = document.getElementById("rename_button");
		form.style.display = "none";
		button.style.display = "";
	}
	
	$( document ).ready(function(){
		hideRename();
	});
</script>


<h4>Temperature: {{location.temperature}}</h4>

<h3>The Following Items are currently being stored here:</h3>

<div class="basic">
	{% include "inventory/item_list.html" %}
</div>

<div class="basic">
	<h3>Actions:</h3>

	<ul>
		<li><a href="{% url 'inventory:inventory_index' %}">View all Items</a></li>
		<li><a href="{% url 'inventory:location:index' %}">View all Locations</a></li>
	</ul>
</div>

