<div class="basic">
	{% include "inventory/set_style.html" %}
</div>

<div class="basic">
	{% include "inventory/inventory_header.html" %}
</div>

<h1>Locations:</h1>

{% if location_list %}
	<ul>
	{% for location in location_list %}
		<li>
		<a href="{% url 'inventory:location:detail' location.id %}">
			{{location.name}}
		</a> 
		 | Temperature: {{ location.temperature }}
		| Contains 
		{% if location.item_count > 0 %}
		<a href="{% url 'inventory:location:detail' location.id %}">
		{% endif %}
		{{location.item_count}} item{{ location.item_count|pluralize }}
		{% if location.item_count > 0 %}
		</a>
		{% endif %}
		|
		</li>
	{% endfor %}
		<li>
			<a href="{% url 'inventory:location:create_page' %}">
				Add another location
			</a>
		</li>
	</ul>
{% else %}
	<p>You have not added any locations.
		<a href="{% url 'inventory:location:create_page' %}">
			Click here to make add one.
		</a>
	</p>
{% endif %}

